.NavBar-container {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw; /* ← importante */

    z-index: 1000;

    background-color: #23476A;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0.9rem 1.3rem;

    box-sizing: border-box;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.Logo-img {
    width: 6rem;
    padding-left: 4px;
}

.Search-bar {
    display: flex;
    align-items: center;

    color: #f1f1f1;

    background-color: #A0BCD6;

    border-radius: 19px;

    height: 50px;
    width: 7rem;

    box-shadow: 0px 4px 15px rgba(49, 20, 111, 0.3);

    transition:
        width 0.3s,
        background-color 0.3s;
}

.Search-bar:hover,
.Search-bar:focus-within {
    width: 15rem;
    background-color: #b1c1d0;
}

.Search-bar input {
    border: none;
    outline: none;
    background: none;

    width: 85%;
}

.Search-bar img {
    width: 18px;
    margin: 10px;
}

.Search-bar input::placeholder {
    color: rgba(21, 21, 21, 0.25);

    font-weight: bold;
    font-size: medium;
}

.exit-button {
    display: flex;

    align-items: center;

    color: #f1f1f1;

    background: none;
    border: none;

    font-size: medium;
    font-weight: bold;

    margin-right: 30px;

    cursor: pointer;
}

.exit-button img {
    width: 25px;
    margin: 6px;
}