.AbilityCard-container {
    display: flex;
    align-items: rows;
    gap: 5%;

    img {
        max-width: 4rem;
        min-width: 4rem;
        min-height: 4rem;
        max-height: 4rem;
    }
}