.CharacterCard-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.CharacterCard-container img {
    border-radius: 50%;
    width: 220px;
    margin: 10px;
}

.CharacterCard-container h2 {
    margin: 10px;
}

.CharacterCard-container a {
    text-decoration: none;
    color: inherit;
}
